@import 'variables';

.nav {
    background-color: rgba(0, 0, 255, 0.007);
    color: wheat;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
  
    .logo {
      size: 20px;
      padding: 2px;
      width: 20%;
      display: flex;
    }
    
    ul {
      margin: 0;
      padding: 0;
  
      li {
        font-size: 20px;
        align-items: right;
        justify-content: flex-end;
        display: inline-flex;
        margin-left: 0px;
        padding-top: 25px;
        margin: 40px;
        position: relative;
        transform: scaleX(0);
        transition: 0.5s;
      }
  
      li {
        transform: scaleX(1);
      }
  
      a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $fontsize;
  
        &::before {
          content: "";
          display: block;
          height: 2px;
          width: 0%;
          background-color: rgb(255, 255, 255);
          position: absolute;
          top: 0;
          transform-origin: right;
          transition: all ease-in-out 250ms;
        }
  
        &:hover::before {
          content: "";
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -6px;
          border-radius: 5px;
          height: 3px;
        }
      }
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 27, 41);
    color: white;
    text-align: center;

}
h1 {
    margin: 0;
    padding: 0;
    font-family: $fontfamily;
    font-size: 90px;
    text-align: left;
    position: relative;
    color: white;
    font-weight: bolder;
}

p {
    color:white;
    font-weight: bold;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: left;
    position: relative;
    color: white;
    font-weight: lighter;
}

.youtube {
    float: left;
    padding: 2px 2;
    width: 2%;
    margin: 20px;
    left: 5px;
}

.behance {
    float: left;
    padding: 2px 2;
    width: 4%;
    margin: 20px;
    left: 5px;
}

body {
    margin: 0;
    font-family: Arimo;
    font-weight: 300;
    font-size: 150%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: relative;
    background-size: 1920px 1080px;
}
